* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 200%;
    margin: 60px 0;
}

.container {
    width: 600px;
    margin: 0 auto;

    .row {
        display: flex;
        gap: 5px;
    }

    .col-4 {
        width: 33.3333%;
    }

    .col-12 {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .container {
        width: 100%;
    }
}

.button {
    background-color: #F9F9F9;
    border-radius: 6px;
    border: 1px solid #CCC;
    color: #444;
    padding: 6px 10px;
    cursor: pointer;

    &:hover {
        background-color: #EEE;
        color: #111;
        border-color: #AAA;
    }
}

.dropdown {
    position: relative;

    .dropdown-menu {
        border: 1px solid #CCC;
        border-radius: 6px;
        list-style-type: none;
        padding: 6px 0;
        background-color: #F9F9F9;
        position: absolute;
        width: auto;
        float: left;
        margin-top: 2px;

        li {
            color: #444;
            display: block;
            padding: 10px 30px 10px 34px;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                background-color: #EEE;
                color: #111;
            }

            &.selected {
                font-weight: bold;

                &::after {
                    font-family: "bootstrap-icons";
                    position: absolute;
                    display: inline-block;
                    left: 10px;
                    content: "\F26A";
                }
            }

        }
    }
}